.footer {
  width: 100%;
  min-height: 57px;
  background: #1C3B55;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & p {
    padding: 0;
    margin: 0;
    color: #fff;
  }
}

.footerLogo {
  font-size: 24px;
}

.footerText {
  font-size: 16px;
}

@media(max-width: 670px) {
  .footerContainer {
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
  }
  .footerLogo {
    margin-bottom: 5px !important;
  }
}

@media(max-width: 380px) {
  .footerText {
    font-size: 15px;
  }
}