.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  user-select: none;
}

.dropdownTitle {
  color: #1A1A1A;
  font-size: 14px;
  padding: 0;
  margin: 0;
  padding-right: 10px;
}

.dropdownButton {
  width: 26px;
  background: transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: .2s;
  & svg {
    width: 22px;
    transition: .2s;
  }
}

.dropdownExpanded {
  border: 1px solid #F1F1F1;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  z-index: 9;
}

.dropdownExpandedItem {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-size: 15px;
  color: #232323;
  transition: .2s;
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0,.2);
  }
  &.active {
    background: rgba(0,0,0,.3);
    pointer-events: none;
  }
  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 580px) {
  .dropdown {
    padding-left: 7px;
    padding-right: 7px;
  }
  .dropdownTitle {
    padding-right: 5px;
    font-size: 12px;
    word-wrap: break-word;
  }
  .dropdownButton {
    width: 28px;
    & svg {
      width: 20px;
    }
  }
  .dropdownExpandedItem {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
  }
}

@media (max-width: 460px) {
  .dropdown {
    min-width: auto !important;
    width: 120px !important;
  }
}